<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add person</title>
</head>
<body>
    <form method="post" action="/add">
        <input type="text" placeholder="enter name" name="name"><br>
        <input type="number" placeholder="enter age" name="age"><br>
        <input type="text" placeholder="enter city" name="city"><br>
        <input type="submit">
    </form>
</body>
</html>