<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>persons</title>
</head>
<body>
    <a href="/add">add a persons</a>
    <table border="1" cellspacing="5" cellpadding="5">
        <thead>
            <th>name</th>
            <th>age</th>
            <th>city</th>
        </thead>
        {{#each persons as |person|}}
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>{{person.city}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>